<div class="row">
    <div class="col-md-12">
        <h2>Employees <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Employees Num </th>
                        <th> Full Name </th>
                        <th> Email </th>
                        <th> Address </th>
                        <th> Manager ID </th>
                        <th> Status </th>
                        <th> Department </th>
                        <th> Hire On </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                    <tr>
                        <td> {{dataValues.employeeNum}} </td>
                        <td><a href="/employee/{{dataValues.employeeNum}}"> {{dataValues.firstName}} {{dataValues.lastName}} </a></td>
                        <td><a href="mailto:{{dataValues.email}}"> {{dataValues.email}} </a></td>
                        <td> {{dataValues.addressStreet}}, {{dataValues.addressState}}, {{dataValues.addressPostal}} </td>
                        <td><a href="/employees?manager={{dataValues.employeeManagerNum}}"> {{dataValues.employeeManagerNum}} </a></td>
                        <td><a href="/employees?status={{dataValues.status}}"> {{dataValues.status}} </a></td>
                        <td><a href="/employees?department={{dataValues.department}}"> {{dataValues.department}} </a></td>
                        <td> {{dataValues.hireDate}} </td>
                        <td><a href="/employees/delete/{{dataValues.employeeNum}}" class="btn btn-danger">Remove</a></td>
                    </tr>
                    {{else}}
                    <div class="col-md-12 text-center">
                        <strong>{{message}}</strong>
                    </div>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>